<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css" />
    <title>Document</title>
    
</head>
<body>
    <header class="header" id="home">
        <nav>
            <div class="nav_header">
            <ul class="nav_links" id="nav-links">
            <li><a href="#home" class="active">PORTOFOLIO</a></li>
            <li><a href="#about">ABOUT ME</a></li>
            <li><a href="#portfolio">PORTFOLIO</a></li>
            <li><a href="#price">PRICE</a></li>
            <li><a href="#contact">CONTACT</a></li>
            </ul> 
            </div>    
        </nav>
    </header>
    <svg id="scrollArrow" width="30" height="170" viewBox="0 0 30 170" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M13.5858 168.914C14.3668 169.695 15.6332 169.695 16.4142 168.914L29.1421 156.186C29.9232 155.405 29.9232 154.139 29.1421 153.358C28.3611 152.577 27.0948 152.577 26.3137 153.358L15 164.672L3.68629 153.358C2.90524 152.577 1.63891 152.577 0.857864 153.358C0.0768156 154.139 0.0768156 155.405 0.857864 156.186L13.5858 168.914ZM13 0V167.5H17V0H13Z" fill="#233942"/>
    </svg>
        
    <section class="page-one" id="home">
        <div class="split left"></div>
        <div class="split right"></div>
        <img src="assets/1.png" alt="Centered Image" class="centered-image">
        
        <div class="paragraph">
            Pellentesque mauris a lobortis in bibendum sed lobortis semper. Eget eu vel eu vitae.
        </div>
        <div class="title photography">
            PHOTO
            GRAPHY
        </div>
        <button class="order_button">Order Now</button>
        <svg class="upper-line" width="3" height="218" viewBox="0 0 3 218" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.0188 1.49414L1.01879 216.327" stroke="#233942" stroke-width="2" stroke-linecap="round"/>
        </svg>
        <svg class="twitter-icon" width="30" height="27" viewBox="0 0 30 27" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.35835 18.9314C6.78362 20.1682 4.97618 21.0757 3.04356 21.5998C2.8307 21.677 2.64678 21.818 2.51681 22.0034C2.38683 22.1889 2.31711 22.4098 2.31711 22.6363C2.31711 22.8627 2.38683 23.0837 2.51681 23.2691C2.64678 23.4546 2.8307 23.5955 3.04356 23.6728C18.3043 29.9358 28.0076 20.2545 26.53 9.51472L29 4.39841H26.1331C22.5605 0.00986056 13.0777 0.230391 14.6435 9.58088C14.6435 9.58088 9.57126 10.4851 3.08767 4.11172C2.93769 3.96365 2.74842 3.86167 2.54227 3.81784C2.33612 3.77402 2.12173 3.79019 1.92449 3.86444C1.72724 3.9387 1.55541 4.06793 1.42935 4.23682C1.30328 4.40572 1.22826 4.60721 1.21316 4.81742C0.527605 7.63547 0.870688 10.6057 2.18063 13.1932C3.49058 15.7808 5.68131 17.8156 8.35835 18.9314V18.9314Z" stroke="#233942" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            
        <svg class="google-icon" width="29" height="32" viewBox="0 0 29 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M23.8251 13.3867H18.3339C18.1843 13.3867 18.0362 13.4165 17.8983 13.4744C17.7604 13.5323 17.6354 13.6171 17.5307 13.7239C17.4259 13.8307 17.3436 13.9573 17.2883 14.0963C17.2331 14.2353 17.2062 14.3839 17.2091 14.5335V17.6429C17.2091 17.9412 17.3276 18.2273 17.5386 18.4382C17.7495 18.6492 18.0356 18.7677 18.3339 18.7677H21.1787C21.1946 19.62 21.0307 20.4662 20.6975 21.251C20.3644 22.0357 19.8695 22.7414 19.2452 23.322C18.6209 23.9026 17.8813 24.345 17.0744 24.6205C16.2676 24.8959 15.4118 24.9981 14.5628 24.9204C9.62291 24.9204 7.24118 20.7304 7.24118 15.9669C7.24118 11.2035 9.79933 7.01338 14.5628 7.01338C16.6658 6.94361 18.7264 7.61488 20.3848 8.90994C20.5173 8.99669 20.6673 9.05324 20.8242 9.07558C20.981 9.09792 21.1408 9.0855 21.2923 9.03921C21.4438 8.99292 21.5833 8.91389 21.7008 8.80771C21.8184 8.70153 21.9112 8.5708 21.9726 8.42478L23.3619 5.24914C23.4762 5.01508 23.5057 4.74861 23.4454 4.49523C23.385 4.24184 23.2386 4.01726 23.0311 3.8598C20.5023 2.34762 17.5966 1.58298 14.651 1.6545C6.62369 1.63244 1.15454 7.87345 1.15454 15.9669C1.15454 24.0604 6.64575 30.3014 14.5628 30.3014C22.4798 30.3014 27.2653 24.6558 27.2653 17.0696C27.2653 14.6437 26.295 13.3867 23.8251 13.3867Z" stroke="#233942" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        <svg  class="linkedin-icon" width="29" height="32" viewBox="0 0 29 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6.91038 4.13968C6.91637 4.91006 6.61902 5.65186 6.08258 6.2048C5.54614 6.75775 4.81369 7.07743 4.04349 7.09479C3.27488 7.06659 2.54648 6.74419 2.00882 6.19421C1.47116 5.64424 1.16533 4.90873 1.15454 4.13968C1.18795 3.3904 1.50502 2.68186 2.04148 2.15769C2.57794 1.63352 3.29363 1.33294 4.04349 1.31689C4.79115 1.33324 5.50433 1.63456 6.03722 2.15925C6.57011 2.68394 6.88245 3.39236 6.91038 4.13968ZM1.46328 12.3434C1.46328 10.6453 2.54388 10.91 4.04349 10.91C5.54309 10.91 6.60164 10.6453 6.60164 12.3434V28.8832C6.60164 30.6033 5.52104 30.2505 4.04349 30.2505C2.56593 30.2505 1.46328 30.6033 1.46328 28.8832V12.3434Z" stroke="#233942" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M11.0563 12.3435C11.0563 11.3952 11.4091 11.0423 11.9604 10.9321C12.5118 10.8218 14.4083 10.9321 15.0699 10.9321C15.7315 10.9321 15.9962 12.0127 15.9741 12.8286C16.54 12.0691 17.2914 11.4675 18.1563 11.0814C19.0212 10.6953 19.9707 10.5376 20.914 10.6233C21.8403 10.5667 22.7681 10.7056 23.6372 11.0309C24.5063 11.3563 25.2973 11.8608 25.9586 12.5118C26.62 13.1628 27.137 13.9457 27.4761 14.8095C27.8152 15.6733 27.9688 16.5989 27.9268 17.5259V28.8171C27.9268 30.5372 26.8683 30.1844 25.3687 30.1844C23.8691 30.1844 22.8105 30.5372 22.8105 28.8171V19.9959C22.8493 19.5419 22.7899 19.0848 22.6364 18.6558C22.4829 18.2268 22.2389 17.8358 21.9209 17.5095C21.6029 17.1831 21.2184 16.929 20.7935 16.7645C20.3687 16.5999 19.9133 16.5286 19.4585 16.5556C19.0057 16.5441 18.5557 16.6289 18.1382 16.8044C17.7207 16.9799 17.3452 17.2421 17.0367 17.5736C16.7281 17.9051 16.4935 18.2983 16.3483 18.7273C16.2031 19.1563 16.1508 19.6113 16.1946 20.062V28.8832C16.1946 30.6034 15.114 30.2505 13.6144 30.2505C12.1148 30.2505 11.0563 30.6034 11.0563 28.8832V12.3435Z" stroke="#233942" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        <svg class="facebook-icon" width="17" height="31" viewBox="0 0 17 31" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10.8493 8.98044C10.8493 6.77513 11.9519 6.77513 13.0546 6.77513H14.3777C14.5987 6.7781 14.8179 6.73677 15.0226 6.6536C15.2273 6.57042 15.4133 6.44707 15.5695 6.29084C15.7257 6.13462 15.8491 5.94867 15.9322 5.74399C16.0154 5.5393 16.0567 5.32002 16.0538 5.0991V3.02612C16.0538 2.80415 16.0097 2.58439 15.9241 2.37959C15.8385 2.1748 15.7131 1.98905 15.5551 1.83312C15.3971 1.6772 15.2097 1.5542 15.0039 1.47128C14.798 1.38836 14.5776 1.34717 14.3557 1.35009L11.2242 1.30598C10.3123 1.27071 9.40371 1.43372 8.561 1.78375C7.7183 2.13378 6.96158 2.66251 6.34308 3.33342C5.72458 4.00434 5.25903 4.80147 4.97855 5.66981C4.69807 6.53814 4.60935 7.457 4.71851 8.36295V11.5606H2.97632C2.53181 11.5606 2.10551 11.7372 1.79119 12.0515C1.47687 12.3659 1.30029 12.7922 1.30029 13.2367V15.3097C1.30029 15.7542 1.47687 16.1805 1.79119 16.4948C2.10551 16.8091 2.53181 16.9857 2.97632 16.9857H4.71851V28.8282C4.71851 29.1206 4.83468 29.4011 5.04147 29.6079C5.24826 29.8146 5.52872 29.9308 5.82116 29.9308H9.81276C10.0936 29.9139 10.3573 29.7904 10.55 29.5854C10.7427 29.3804 10.8498 29.1095 10.8493 28.8282V16.9857H12.7899C13.2344 16.9857 13.6607 16.8091 13.9751 16.4948C14.2894 16.1805 14.466 15.7542 14.466 15.3097V13.2367C14.466 12.7922 14.2894 12.3659 13.9751 12.0515C13.6607 11.7372 13.2344 11.5606 12.7899 11.5606H10.8493V8.98044Z" stroke="#233942" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        <svg class="lower-line" width="3" height="218" viewBox="0 0 3 218" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.0188 1.67261L1.01879 216.506" stroke="#233942" stroke-width="2" stroke-linecap="round"/>
        </svg>
            
            
            
            
            
            

    <!-- WhatsApp Floating Button -->
        <a href="https://wa.me/+94705636136?text=Hello%20I%20would%20like%20to%20inquire%20about%20your%20services" class="whatsapp-button" target="_blank">
        <img src="assets/whatsapp.png" alt="Chat with us" />
        </a>
    </section>
    
    <section class="page-two" id="about">
        <div class="title about-us">ABOUT 
            US</div>
        <div class="about-us-paragraph">
            Tincidunt sagittis mollis nec suspendisse sed felis massa urna nec. Urna quisque blandit turpis ultrices arcu ut sed. Ultricies diam est aliquet porta fermentum molestie morbi libero. Ultrices sit in elit eget nullam sem. Urna velit imperdiet habitant in.
        </div>
        
        <div class="frame-5">
            <div class="'frame-2">
                <div class="frame-1-1">
                    <div class="years">+10 Years</div>
                    <div class="experience">Experience</div>
                </div>    
            </div>
            
            <div class="frame-3">
                <div class="frame-1-2">
                    <div class="customer-number">+450</div>
                    <div class="customers">Customers</div>
                </div>
            </div>
            <div class="frame-4">
                <div class="frame-1-3">
                    <div class="photo-number">+15K</div>
                    <div class="portfolio-photos">Portfolio Photos</div>
                </div>
                
            </div>
        </div>
            <img src="assets/2-1.jpeg" alt="Image 1" class="img-1">
            <img src="assets/2-2.jpeg" alt="Image 2" class="img-2">
            <img src="assets/2-3.jpeg" alt="Image 3" class="img-3">
            <img src="assets/2-4.jpeg" alt="Image 4" class="img-4">
            <img src="assets/2-5.jpeg" alt="Image 5" class="img-5">
        
            <svg class='left-arrow' width="25" height="25" viewBox="0 0 25 25" fill="None" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.3334 17.5641L6.2308 12.3333L12.3334 7.10255" stroke="#898D92" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M6.23081 12.3333L18.4359 12.3333" stroke="#898D92" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M1 12.3333C1 6.07407 6.07411 0.999959 12.3333 0.999959C18.5926 0.99996 23.6667 6.07407 23.6667 12.3333C23.6667 18.5925 18.5926 23.6666 12.3333 23.6666C6.07411 23.6666 1 18.5925 1 12.3333Z" stroke="#898D92" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>

                <svg class="right-arrow" width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.6666 17.5641L18.7692 12.3333L12.6666 7.10255" stroke="#898D92" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M18.7691 12.3333L6.56402 12.3333" stroke="#898D92" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M24 12.3333C24 6.07407 18.9258 0.999959 12.6666 0.999959C6.40739 0.99996 1.33329 6.07407 1.33329 12.3333C1.33329 18.5925 6.4074 23.6666 12.6666 23.6666C18.9258 23.6666 24 18.5925 24 12.3333Z" stroke="#898D92" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    
        
    </section>

    <section class="page-three" id="portfolio">
        <div class="title portfolio">PORTFOLIO</div>
        
            
            <ul class="portfolio-links">
                <li class="li-1"><a href="#all">All</a></li>
                <li class="li-2"><a href="#wedding">Wedding</a></li>
                <li class="li-3"><a href="#product">Product</a></li>
                <li class="li-4"><a href="#food">Food</a></li>
                <li class="li-5"><a href="#fashion">Fashion</a></li>
            </ul> 
                
        
        
            <img src="assets/3-1.png" alt="Image 1" class="rectangle-13">
            <img src="assets/3-2.png" alt="Image 2" class="rectangle-14">
            <img src="assets/3-3.png" alt="Image 3" class="rectangle-15">
            <img src="assets/3-4.png" alt="Image 4" class="rectangle-16">
            <img src="assets/3-5.png" alt="Image 5" class="rectangle-17">
            <img src="assets/3-6.png" alt="Image 6" class="rectangle-18">
            <img src="assets/3-7.png" alt="Image 7" class="rectangle-19">
            <img src="assets/3-8.png" alt="Image 8" class="rectangle-20">
            <img src="assets/3-10.png" alt="Image 10" class="rectangle-22">
            <img src="assets/3-11.png" alt="Image 11" class="rectangle-23">
            <div class="frame-6">
                <button class="image-button">
                <img src="assets/3-9.png" alt="Image 9" class="rectangle-21">
                <span class="button-text">See more</span>
                </button>
            </div>
        
    </section>
    <section class="page-four">
        <div class="title benefit">WHY ME</div>
        <div class="benefit-text agency-text">Sagittis enim nullam pulvinar tellus sit egestas semper. Vestibulum sed libero sed at sed nisl sodales phasellus et.</div>
        <div class="benefit-text choose-idea-text">Sagittis enim nullam pulvinar tellus sit egestas semper. Vestibulum sed libero sed at sed nisl sodales phasellus et.</div>
        <div class="benefit-text satisfaction-text">Sagittis enim nullam pulvinar tellus sit egestas semper. Vestibulum sed libero sed at sed nisl sodales phasellus et.</div>
        <div class="benefit-text quality-text">Sagittis enim nullam pulvinar tellus sit egestas semper. Vestibulum sed libero sed at sed nisl sodales phasellus et.</div>
        <div class="benefit-text creativity-text">Sagittis enim nullam pulvinar tellus sit egestas semper. Vestibulum sed libero sed at sed nisl sodales phasellus et.</div>
        <svg class="pen" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 31.1122H26.4682" stroke="#898D92" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M14.8918 23.0087L7.9459 24.2589L9.10354 17.2204L24.6854 1.68486C24.9007 1.46785 25.1567 1.29561 25.4389 1.17806C25.721 1.06052 26.0236 1 26.3293 1C26.6349 1 26.9375 1.06052 27.2197 1.17806C27.5018 1.29561 27.7579 1.46785 27.9731 1.68486L30.4273 4.13906C30.6443 4.3543 30.8166 4.61037 30.9341 4.89251C31.0517 5.17465 31.1122 5.47727 31.1122 5.78292C31.1122 6.08856 31.0517 6.39118 30.9341 6.67332C30.8166 6.95546 30.6443 7.21153 30.4273 7.42677L14.8918 23.0087Z" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        <svg class="lamp" width="23" height="32" viewBox="0 0 23 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M22.0226 11.4907C22.0355 9.63102 21.5503 7.80175 20.6175 6.19285C19.6846 4.58395 18.3381 3.25407 16.7178 2.34127C15.0974 1.42847 13.2623 0.966023 11.4029 1.00194C9.54344 1.03786 7.72752 1.57084 6.14363 2.54554C4.55975 3.52024 3.26562 4.90114 2.39562 6.54486C1.52562 8.18859 1.11145 10.0352 1.19611 11.8931C1.28076 13.7509 1.86117 15.5522 2.87706 17.11C3.89295 18.6678 5.3073 19.9253 6.97327 20.7519V24.2248C6.97327 24.5318 7.09524 24.8263 7.31234 25.0434C7.52944 25.2605 7.82389 25.3825 8.13092 25.3825H15.0768C15.3838 25.3825 15.6783 25.2605 15.8954 25.0434C16.1125 24.8263 16.2344 24.5318 16.2344 24.2248V20.7519C17.9651 19.8992 19.4236 18.5808 20.4461 16.9448C21.4686 15.3088 22.0146 13.42 22.0226 11.4907V11.4907Z" stroke="#898D92" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M6.97327 31.1705H16.2344" stroke="#898D92" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        <svg class="star" width="32" height="31" viewBox="0 0 32 31" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M17.1647 1.72996L20.8426 9.21464C20.9263 9.40461 21.0579 9.56916 21.2243 9.6919C21.3907 9.81463 21.5861 9.89126 21.791 9.91414L29.9101 11.1266C30.1452 11.1571 30.3669 11.2543 30.5492 11.407C30.7315 11.5597 30.8669 11.7615 30.9397 11.9889C31.0124 12.2163 31.0195 12.4598 30.9601 12.6911C30.9007 12.9224 30.7772 13.1319 30.6041 13.2951L24.7518 19.1476C24.6025 19.2882 24.4904 19.4643 24.4257 19.6598C24.3611 19.8553 24.346 20.0639 24.3817 20.2668L25.7927 28.4976C25.8336 28.7341 25.8078 28.9774 25.7182 29.1999C25.6287 29.4223 25.4789 29.6149 25.2861 29.7558C25.0933 29.8967 24.8651 29.9803 24.6276 29.9969C24.39 30.0136 24.1525 29.9626 23.9422 29.85L16.6327 25.9561C16.4455 25.8634 16.2398 25.8153 16.0313 25.8153C15.8228 25.8153 15.617 25.8634 15.4299 25.9561L8.12032 29.85C7.91003 29.9626 7.67258 30.0136 7.435 29.9969C7.19742 29.9803 6.96924 29.8967 6.77642 29.7558C6.58361 29.6149 6.4339 29.4223 6.34434 29.1999C6.25478 28.9774 6.22896 28.7341 6.26981 28.4976L7.68083 20.1735C7.71659 19.9706 7.70146 19.762 7.63682 19.5665C7.57218 19.371 7.46009 19.195 7.31072 19.0543L1.38908 13.2951C1.21388 13.1274 1.09068 12.9121 1.03439 12.6753C0.978095 12.4385 0.99113 12.1904 1.07191 11.9609C1.1527 11.7314 1.29776 11.5304 1.48954 11.3824C1.68131 11.2343 1.91157 11.1455 2.15241 11.1266L10.2715 9.91414C10.4765 9.89126 10.6719 9.81463 10.8383 9.6919C11.0047 9.56916 11.1363 9.40461 11.2199 9.21464L14.8978 1.72996C14.998 1.51197 15.1579 1.32741 15.3588 1.19807C15.5596 1.06873 15.793 1 16.0313 1C16.2696 1 16.503 1.06873 16.7038 1.19807C16.9046 1.32741 17.0646 1.51197 17.1647 1.72996V1.72996Z" stroke="#898D92" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        <svg class="nut" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M30.8414 8.13623C30.7968 7.89448 30.7018 7.6648 30.5627 7.4621C30.4235 7.25941 30.2433 7.08824 30.0337 6.95969L25.4181 11.5736C25.2029 11.7968 24.9448 11.9744 24.6593 12.0957C24.3738 12.217 24.0668 12.2796 23.7565 12.2796C23.4463 12.2796 23.1393 12.217 22.8538 12.0957C22.5683 11.9744 22.3102 11.7968 22.095 11.5736L20.3411 10.0049C19.9182 9.57362 19.6814 8.99384 19.6814 8.39C19.6814 7.78615 19.9182 7.20637 20.3411 6.77514L24.9566 2.16126C24.8559 1.92489 24.7045 1.71351 24.5131 1.54209C24.3217 1.37068 24.0949 1.2434 23.8489 1.16928C22.2384 0.848247 20.5702 0.985667 19.0341 1.5659C17.498 2.14613 16.1557 3.14585 15.1601 4.45125C14.1644 5.75665 13.5554 7.31527 13.4025 8.94967C13.2495 10.5841 13.5586 12.2286 14.2947 13.696L1.69435 26.1765C1.47454 26.3913 1.2999 26.6479 1.18066 26.9312C1.06142 27.2144 1 27.5186 1 27.8259C1 28.1333 1.06142 28.4375 1.18066 28.7207C1.2999 29.004 1.47454 29.2606 1.69435 29.4754L2.52514 30.3059C2.74007 30.5256 2.99674 30.7002 3.2801 30.8194C3.56345 30.9386 3.86777 31 4.17519 31C4.48261 31 4.78693 30.9386 5.07029 30.8194C5.35364 30.7002 5.61032 30.5256 5.82524 30.3059L18.4256 17.7331C19.8939 18.4324 21.5275 18.7109 23.1446 18.5376C24.7618 18.3643 26.2992 17.746 27.5858 16.7515C28.8725 15.7569 29.858 14.4251 30.4327 12.9042C31.0075 11.3832 31.1489 9.73275 30.8414 8.13623V8.13623Z" stroke="#898D92" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        <svg class="lightening" width="23" height="32" viewBox="0 0 23 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M13.8333 1V12.5385H22L9.16667 31V19.4615H1L13.8333 1Z" stroke="#898D92" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
            
            
            
                
            
    </section>
    <section class="page-five">
        <div class="title testimonial">TESTIMONIALS</div>
    
    <div class="first-person">
        <div class="profile-1">
            <img src="assets/5-1.png" alt="Image 1" class="profile-pic-1">
            <div class="name">jhon maftuh</div>
            <div class="account">Facebook</div>
        </div>
        <div class="testimonial-text-1">Lorem ipsum dolor sit amet consectetur. Pellentesque eget id quis arcu sem ac nulla interdum. Turpis sagittis blandit pharetra mauris quis nulla ornare amet. Enim placerat eu mauris aliquet viverra mi diam.</div>   
    </div>

    <div class="second-person">
        <div class="profile-2">
            <img src="assets/5-2.png" alt="Image 2" class="profile-pic-2">
            <div class="name">verda angel</div>
            <div class="account">instagram</div>
        </div>
        <div class="testimonial-text-2">Lorem ipsum dolor sit amet consectetur. Pellentesque eget id quis arcu sem ac nulla interdum. Turpis sagittis blandit pharetra mauris quis nulla ornare amet. Enim placerat eu mauris aliquet viverra mi diam.</div>   
    </div>

    <div class="third-person">
        <div class="profile-3">
            <img src="assets/5-3.png" alt="Image 3" class="profile-pic-3">
            <div class="name">lovia franciska</div>
            <div class="account">google</div>
        </div>
        <div class="testimonial-text-3">Lorem ipsum dolor sit amet consectetur. Pellentesque eget id quis arcu sem ac nulla interdum. Turpis sagittis blandit pharetra mauris quis nulla ornare amet. Enim placerat eu mauris aliquet viverra mi diam.</div>   

    </div>
    </section>

    

    <section class="page-seven" id="contact">
        <div class="middle-rectangle">
            <div class="get-info-text">Get more info other discount prices</div>
            <div class="form-container">
                <!-- <label class="email-label" for="email">Enter your email address</label> -->
                <input type="email" id="email" placeholder="Enter your email address">
                <button class="submit-btn" type="submit">
                    <span class="submit-btn-text">Submit</span></button>
            </div>
            <div class="terms-text">
                * By clicking “Submit” button, you agree to our Terms and that you have read our Data Use Policy.
            </div>
        </div>
        <div class="logo"></div>
        <div class="media"></div>
        <div class="copyright-text">(C) Copyright 2022 I Photographer</div>
        <div class="media-icons">
        <svg width="30" height="27" viewBox="0 0 30 27" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.49018 18.7712C6.91546 20.0081 5.10801 20.9156 3.1754 21.4396C2.96253 21.5169 2.77862 21.6578 2.64864 21.8433C2.51867 22.0287 2.44895 22.2497 2.44895 22.4761C2.44895 22.7026 2.51867 22.9235 2.64864 23.109C2.77862 23.2944 2.96253 23.4353 3.1754 23.5126C18.4361 29.7757 28.1394 20.0944 26.6619 9.35456L29.1318 4.23826H26.2649C22.6923 -0.150296 13.2095 0.0702352 14.7753 9.42072C14.7753 9.42072 9.7031 10.3249 3.21951 3.95157C3.06953 3.8035 2.88026 3.70151 2.67411 3.65769C2.46796 3.61386 2.25356 3.63003 2.05632 3.70429C1.85908 3.77854 1.68725 3.90777 1.56118 4.07667C1.43512 4.24556 1.36009 4.44705 1.345 4.65727C0.659441 7.47531 1.00252 10.4455 2.31247 13.0331C3.62242 15.6206 5.81315 17.6555 8.49018 18.7712V18.7712Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        <svg  width="28" height="31" viewBox="0 0 28 31" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M23.8024 12.8926H18.3111C18.1616 12.8925 18.0135 12.9223 17.8756 12.9802C17.7377 13.0381 17.6127 13.123 17.508 13.2297C17.4032 13.3365 17.3208 13.4631 17.2656 13.6021C17.2104 13.7412 17.1835 13.8898 17.1864 14.0393V17.1488C17.1864 17.4471 17.3049 17.7332 17.5159 17.9441C17.7268 18.155 18.0129 18.2735 18.3111 18.2735H21.156C21.1719 19.1259 21.008 19.9721 20.6748 20.7568C20.3417 21.5416 19.8468 22.2473 19.2225 22.8279C18.5982 23.4084 17.8585 23.8509 17.0517 24.1263C16.2449 24.4017 15.3891 24.504 14.5401 24.4263C9.6002 24.4263 7.21847 20.2362 7.21847 15.4728C7.21847 10.7093 9.77662 6.51924 14.5401 6.51924C16.6431 6.44946 18.7037 7.12074 20.3621 8.4158C20.4946 8.50255 20.6446 8.5591 20.8015 8.58144C20.9583 8.60378 21.1181 8.59136 21.2696 8.54507C21.4211 8.49878 21.5606 8.41975 21.6781 8.31357C21.7957 8.20739 21.8885 8.07666 21.9499 7.93064L23.3392 4.755C23.4535 4.52094 23.483 4.25447 23.4227 4.00109C23.3623 3.7477 23.2159 3.52312 23.0084 3.36566C20.4796 1.85348 17.5739 1.08884 14.6283 1.16036C6.60099 1.1383 1.13184 7.37931 1.13184 15.4728C1.13184 23.5662 6.62304 29.8072 14.5401 29.8072C22.4571 29.8072 27.2426 24.1617 27.2426 16.5754C27.2426 14.1496 26.2723 12.8926 23.8024 12.8926Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        <svg  width="17" height="31" viewBox="0 0 17 31" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10.7916 8.84616C10.7916 6.64086 11.8943 6.64086 12.9969 6.64086H14.3201C14.541 6.64382 14.7603 6.6025 14.965 6.51932C15.1697 6.43614 15.3556 6.3128 15.5119 6.15657C15.6681 6.00034 15.7914 5.81439 15.8746 5.60971C15.9578 5.40502 15.9991 5.18575 15.9962 4.96483V2.89184C15.9962 2.66987 15.9521 2.45011 15.8665 2.24532C15.7809 2.04052 15.6555 1.85477 15.4975 1.69884C15.3395 1.54292 15.1521 1.41993 14.9462 1.33701C14.7403 1.25409 14.52 1.21289 14.2981 1.21581L11.1665 1.17171C10.2547 1.13644 9.34609 1.29944 8.50339 1.64948C7.66068 1.99951 6.90397 2.52823 6.28546 3.19914C5.66696 3.87006 5.20141 4.66719 4.92093 5.53553C4.64045 6.40386 4.55173 7.32272 4.6609 8.22868V11.4264H2.91871C2.47419 11.4264 2.04789 11.6029 1.73357 11.9173C1.41926 12.2316 1.24268 12.6579 1.24268 13.1024V15.1754C1.24268 15.6199 1.41926 16.0462 1.73357 16.3605C2.04789 16.6748 2.47419 16.8514 2.91871 16.8514H4.6609V28.6939C4.6609 28.9863 4.77707 29.2668 4.98385 29.4736C5.19064 29.6804 5.47111 29.7965 5.76355 29.7965H9.75515C10.036 29.7797 10.2997 29.6561 10.4924 29.4511C10.6851 29.2461 10.7921 28.9752 10.7916 28.6939V16.8514H12.7323C13.1768 16.8514 13.6031 16.6748 13.9174 16.3605C14.2318 16.0462 14.4083 15.6199 14.4083 15.1754V13.1024C14.4083 12.6579 14.2318 12.2316 13.9174 11.9173C13.6031 11.6029 13.1768 11.4264 12.7323 11.4264H10.7916V8.84616Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        <svg width="29" height="31" viewBox="0 0 29 31" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6.75218 3.82279C6.75817 4.59316 6.46082 5.33496 5.92438 5.88791C5.38794 6.44085 4.65549 6.76054 3.88528 6.77789C3.11668 6.74969 2.38828 6.42729 1.85062 5.87732C1.31296 5.32735 1.00713 4.59184 0.996338 3.82279C1.02975 3.07351 1.34682 2.36496 1.88328 1.84079C2.41973 1.31662 3.13543 1.01605 3.88528 1C4.63295 1.01635 5.34613 1.31767 5.87902 1.84236C6.4119 2.36704 6.72424 3.07547 6.75218 3.82279ZM1.30508 12.0265C1.30508 10.3284 2.38568 10.5931 3.88528 10.5931C5.38489 10.5931 6.44344 10.3284 6.44344 12.0265V28.5663C6.44344 30.2864 5.36284 29.9336 3.88528 29.9336C2.40773 29.9336 1.30508 30.2864 1.30508 28.5663V12.0265Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M10.8981 12.0266C10.8981 11.0783 11.2509 10.7254 11.8022 10.6152C12.3536 10.5049 14.2501 10.6152 14.9117 10.6152C15.5733 10.6152 15.8379 11.6958 15.8159 12.5117C16.3818 11.7522 17.1332 11.1506 17.9981 10.7645C18.863 10.3784 19.8125 10.2207 20.7558 10.3064C21.6821 10.2498 22.6099 10.3887 23.479 10.714C24.3481 11.0394 25.139 11.544 25.8004 12.1949C26.4618 12.8459 26.9788 13.6288 27.3179 14.4926C27.657 15.3564 27.8106 16.282 27.7686 17.209V28.5002C27.7686 30.2203 26.7101 29.8675 25.2105 29.8675C23.7109 29.8675 22.6523 30.2203 22.6523 28.5002V19.679C22.6911 19.225 22.6317 18.7679 22.4782 18.3389C22.3247 17.9099 22.0807 17.519 21.7627 17.1926C21.4447 16.8663 21.0602 16.6122 20.6353 16.4476C20.2105 16.283 19.7551 16.2117 19.3003 16.2387C18.8475 16.2272 18.3975 16.312 17.98 16.4875C17.5625 16.663 17.187 16.9252 16.8785 17.2567C16.5699 17.5882 16.3353 17.9814 16.1901 18.4104C16.0449 18.8394 15.9926 19.2944 16.0364 19.7451V28.5663C16.0364 30.2865 14.9558 29.9336 13.4562 29.9336C11.9566 29.9336 10.8981 30.2865 10.8981 28.5663V12.0266Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
    </div>
            
           
    </section>
    <script src="script.js"></script>

</body>
</html>
